<div class="container-fuild">

    <body>
        <header>
            <app-header></app-header>
            <div class="body-container container">
                <h1>We are here to explore<br> you buniness to the world....</h1>
                <a class="btn btn-full" href="#">Explore you</a>
                <a class="btn btn-ghost" href="#">Show me</a>
            </div>
        </header>
        <section class="section-about-us">
            <div class="container">
                <div class="heading">
                    <h2>Explore your vision with us</h2>
                    <p class="long-copy">
                        Hello, we're PhotoGallery, your vision will be safe and explored to world.
                        We know the value of your vision. So let us take your vision with us to show the world.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-3 card-container">
                        <i class="fa fa-users icon" aria-hidden="true"></i>
                        <h3>About Us</h3>
                        <p>We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                        </p>
                    </div>
                    <div class="col-md-3 card-container">
                        <i class="fa fa-eye icon" aria-hidden="true"></i>
                        <h3>Our Goal</h3>
                        <p>We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                        </p>
                    </div>
                    <div class="col-md-3 card-container">
                        <i class="fa fa-user-secret icon" aria-hidden="true"></i>
                        <h3>Privacy & Policy</h3>
                        <p>We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                        </p>
                    </div>
                    <div class="col-md-3 card-container">
                        <i class="fa fa-hand-o-down icon" aria-hidden="true"></i>
                        <h3>Join with Us</h3>
                        <p>We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-gallery">
            <div class="container-fluid">
                <ul class="gallery clearfix">
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/1.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/2.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/3.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/4.jpg" alt="demo img 1">
                        </figure>
                    </li>
                </ul>
                <ul class="gallery clearfix">
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/5.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/6.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/7.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/8.jpg" alt="demo img 1">
                        </figure>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section-steps">
            <div class="container">
                <div class="heading">
                    <h2>How it works &mdash; Simple as 1, 2, 3</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 step-box">
                        <img src="../../../assets/images/appImage-removebg-preview.png" alt="Photogallery app on iphone"
                            class="app-screen">
                    </div>
                    <div class="col-md-6 step-box">
                        <div class="work-steps">
                            <div>1</div>
                            <p>Choose the subscription plan that best fits your needs and sign up today.</p>
                        </div>
                        <div class="work-steps">
                            <div>2</div>
                            <p>Order or post your best reuirements using our app or website or you can call us.</p>
                        </div>
                        <div class="work-steps">
                            <div>3</div>
                            <p>Fullfill your goals by place or post your jobs.</p>
                        </div>
                        <div class="app-store-icons">
                            <a href="#" class="btn-app"><img
                                    src="../../../assets/images/appstore__2_-removebg-preview.png"
                                    alt="app store button"></a>
                            <a href="#" class="btn-app"><img style="margin-top: 12px"
                                    src="../../../assets/images/appstore-removebg-preview.png"
                                    alt="google play button"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="session-cities">
            <div class="container">
                <div class="heading">
                    <h2>We're currently in these cities</h2>
                </div>
                <div class="row">
                    <div class="col-md-3 box">
                        <img src="../../../assets/images/kolkataCity.jpg" alt="Kolkata">
                        <h3>Kolkata (City of Joy)</h3>
                        <div class="city-feature">
                            <i class="fa fa-user"></i>
                            89,200+ consumer and dealer
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-home"></i>
                            1,600+ official warehouses
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-phone"></i>
                            (+91) 8824928756
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-envelope-o"></i>
                            kolkataCity@photogallery.com
                        </div>

                    </div>
                    <div class="col-md-3 box">
                        <img src="../../../assets/images/mumbai.jpg" alt="Mumbai">
                        <h3>Mumbaai (City of Bollywood)</h3>
                        <div class="city-feature">
                            <i class="fa fa-user"></i>
                            98,000+ consumer and dealer
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-home"></i>
                            2,800+ official warehouses
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-phone"></i>
                            (+91) 8571946589
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-envelope-o"></i>
                            mumbaiCity@photogallery.com
                        </div>

                    </div>
                    <div class="col-md-3 box">
                        <img src="../../../assets/images/delhi.jpg" alt="Delhi">
                        <h3>Delhi (City of Dreams)</h3>
                        <div class="city-feature">
                            <i class="fa fa-user"></i>
                            61,000+ consumer and dealer
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-home"></i>
                            1,300+ official warehouses
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-phone"></i>
                            (+91) 8172598922
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-envelope-o"></i>
                            delhiCity@photogallery.com
                        </div>

                    </div>
                    <div class="col-md-3 box">
                        <img src="../../../assets/images/hydrabad.jpg" alt="Hydrabad">
                        <h3>Hydrabad (City of Biriyani)</h3>
                        <div class="city-feature">
                            <i class="fa fa-user"></i>
                            65,000+ consumer and dealer
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-home"></i>
                            1,500+ official warehouses
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-phone"></i>
                            (+91) 9825678456
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-envelope-o"></i>
                            hydrabadCity@photogallery.com
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="section-testimonials">
            <div class="container">
                <div class="heading">
                    <h2>our customars can't live without us</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <blockquote>
                            We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                            <cite><img src="../../../assets/images/kartick.jpg" alt="kartick"> Kartick Dey</cite>
                        </blockquote>
                    </div>
                    <div class="col-md-4">
                        <blockquote>
                            We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                            <cite><img src="../../../assets/images/hindole.jpg" alt="Hindole"> Hindole Mukherjee</cite>
                        </blockquote>
                    </div>
                    <div class="col-md-4">
                        <blockquote>
                            We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                            <cite><img src="../../../assets/images/punam.jpg" alt="Punam"> Punam Mondal</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-plans">
            <div class="container">
                <div class="heading">
                    <h2>Let's Subscribe a plan</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="plan-box">
                            <div>
                                <h3>Premium</h3>
                                <p class="plan-price">&#x20B9;399 <span> / year</span></p>
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>10 post per day</li>
                                </ul>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>Order or post 24/7</li>
                                </ul>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>All Support</li>
                                </ul>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>Delivery on condition</li>
                                </ul>
                            </div>
                            <div>
                                <a href="#" class="btn btn-full">Sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="plan-box">
                            <div>
                                <h3>Ultra</h3>
                                <p class="plan-price">&#x20B9;149 <span> / year</span></p>
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>5 post per day</li>
                                </ul>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>Order or post 24/7</li>
                                </ul>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>Only Telephone Suppport</li>
                                </ul>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>Delivery on condition</li>
                                </ul>
                            </div>
                            <div>
                                <a href="#" class="btn btn-ghost">Sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="plan-box">
                            <div>
                                <h3>Basic</h3>
                                <p class="plan-price">&#x20B9;100 <span>/ year</span></p>
                            </div>
                            <div>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>3 post per day</li>
                                </ul>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>Order or post 24/7</li>
                                </ul>
                                <ul>
                                    <li><i class="fa fa-times" aria-hidden="true"></i>No Support</li>
                                </ul>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i>Delivery on condition</li>
                                </ul>
                            </div>
                            <div>
                                <a href="#" class="btn btn-ghost">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-form">
            <div class="container">
                <div class="heading">
                    <h2>We're happy to hear you</h2>
                </div>
                <div class="row">
                    <form action="#" class="contact-form">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Name</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-md-8">
                                <input type="email" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="find-us">How did you find us?</label>
                            </div>
                            <div class="col-md-8">
                                <select name="find-us" id="find-us">
                                    <option value="facebook">Facebook</option>
                                    <option value="instagram">Instagram</option>
                                    <option value="twitter">Twitter</option>
                                    <option value="linkedIn">LinkedIn</option>
                                    <option value="other">Other </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="email">Message</label>
                            </div>
                            <div class="col-md-8">
                                <textarea name="message" id="message" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>&nbsp;</label>
                            </div>
                            <div class="col-md-8">
                                <input type="submit" value="Send it!">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">iOS App</a></li>
                        <li><a href="#">Android App</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="social-link">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p class="text-center">
                    Copyright &copy; 2020 by PhotoGallery. All rights reserved.
                </p>
            </div>
        </div>
        </footer>
    </body>
</div>