<div class="container-fuild">

    <body>
        <header>
            <app-header></app-header>
            <div class="body-container container">
                <h1>We are here to explore<br> you buniness to the world....</h1>
                <a class="btn btn-full" href="#">Explore you</a>
                <a class="btn btn-ghost" href="#">Show me</a>
            </div>
        </header>
        <section class="section-about-us">
            <div class="container">
                <div class="heading">
                    <h2>Explore your vision with us</h2>
                    <p class="long-copy">
                        Hello, we're PhotoGallery, your vision will be safe and explored to world.
                        We know the value of your vision. So let us take your vision with us to show the world.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-3 card-container">
                        <i class="fa fa-users icon" aria-hidden="true"></i>
                        <h3>About Us</h3>
                        <p>We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                        </p>
                    </div>
                    <div class="col-md-3 card-container">
                        <i class="fa fa-eye icon" aria-hidden="true"></i>
                        <h3>Our Goal</h3>
                        <p>We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                        </p>
                    </div>
                    <div class="col-md-3 card-container">
                        <i class="fa fa-user-secret icon" aria-hidden="true"></i>
                        <h3>Privacy & Policy</h3>
                        <p>We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                        </p>
                    </div>
                    <div class="col-md-3 card-container">
                        <i class="fa fa-hand-o-down icon" aria-hidden="true"></i>
                        <h3>Join with Us</h3>
                        <p>We work together to design, create and produce work that we are proud of for folks that we
                            believe in.
                            We are available for hire in a wide range of creativity vision for a variety of jobs,
                            projects and gigs
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-gallery">
            <div class="container-fluid">
                <ul class="gallery clearfix">
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/1.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/2.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/3.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/4.jpg" alt="demo img 1">
                        </figure>
                    </li>
                </ul>
                <ul class="gallery clearfix">
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/5.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/6.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/7.jpg" alt="demo img 1">
                        </figure>
                    </li>
                    <li>
                        <figure class="gallery-photo">
                            <img src="../../../assets/images/8.jpg" alt="demo img 1">
                        </figure>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section-steps">
            <div class="container">
                <div class="heading">
                    <h2>How it works &mdash; Simple as 1, 2, 3</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 step-box">
                        <img src="../../../assets/images/appImage-removebg-preview.png" alt="Photogallery app on iphone" class="app-screen">
                    </div>
                    <div class="col-md-6 step-box">
                        <div class="work-steps">
                            <div>1</div>
                            <p>Choose the subscription plan that best fits your needs and sign up today.</p>
                        </div>
                        <div class="work-steps">
                            <div>2</div>
                            <p>Order or post your best reuirements using our app or website or you can call us.</p>
                        </div>
                        <div class="work-steps">
                            <div>3</div>
                            <p>Fullfill your goals by place or post your jobs.</p>
                        </div>
                        <div class="app-store-icons">
                        <a href="#" class="btn-app"><img src="../../../assets/images/appstore__2_-removebg-preview.png" alt="app store button"></a>
                        <a href="#" class="btn-app"><img  style="margin-top: 12px" src="../../../assets/images/appstore-removebg-preview.png" alt="google play button"></a>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="session-cities">
            <div class="container">
                <div class="heading">
                    <h2>We're currently in these cities</h2>
                </div>
                <div class="row">
                    <div class="col-md-3 box">
                        <img src="../../../assets/images/kolkataCity.jpg" alt="Kolkata">
                        <h3>Kolkata (City of Joy)</h3>
                        <div class="city-feature">
                            <i class="fa fa-user"></i>
                            89,200+ consumer and dealer
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-home"></i>
                            1,600+ official warehouses
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-phone"></i>
                            (+91) 8824928756
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-envelope-o"></i>
                            kolkataCity@photogallery.com
                        </div>
                        
                    </div>
                    <div class="col-md-3 box">
                        <img src="../../../assets/images/mumbai.jpg" alt="Mumbai">
                        <h3>Mumbaai (City of Bollywood)</h3>
                        <div class="city-feature">
                            <i class="fa fa-user"></i>
                            98,000+ consumer and dealer
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-home"></i>
                            2,800+ official warehouses
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-phone"></i>
                            (+91) 8571946589
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-envelope-o"></i>
                            mumbaiCity@photogallery.com
                        </div>
                        
                    </div>
                    <div class="col-md-3 box">
                        <img src="../../../assets/images/delhi.jpg" alt="Delhi">
                        <h3>Delhi (City of Dreams)</h3>
                        <div class="city-feature">
                            <i class="fa fa-user"></i>
                            61,000+ consumer and dealer
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-home"></i>
                            1,300+ official warehouses
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-phone"></i>
                            (+91) 8172598922
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-envelope-o"></i>
                            delhiCity@photogallery.com
                        </div>
                        
                    </div>
                    <div class="col-md-3 box">
                        <img src="../../../assets/images/hydrabad.jpg" alt="Hydrabad">
                        <h3>Hydrabad (City of Biriyani)</h3>
                        <div class="city-feature">
                            <i class="fa fa-user"></i>
                            65,000+ consumer and dealer
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-home"></i>
                            1,500+ official warehouses
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-phone"></i>
                            (+91) 9825678456
                        </div>
                        <div class="city-feature">
                            <i class="fa fa-envelope-o"></i>
                            hydrabadCity@photogallery.com
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </body>
</div>